
// Text
// -------------------

.text-smaller {
  font-size: smaller;
}

.text-subtle    { color: @text-color-subtle; }
.text-highlight { color: @text-color-highlight; }

.text-info    { color: @text-color-info; }
.text-success { color: @text-color-success; }
.text-warning { color: @text-color-warning; }
.text-error   { color: @text-color-error; }


// Highlights ---------------

.highlight         { .highlight-mixin(@background-color-highlight); }
.highlight-info    { .highlight-mixin(@background-color-info); }
.highlight-warning { .highlight-mixin(@background-color-warning); }
.highlight-error   { .highlight-mixin(@background-color-error); }
.highlight-success { .highlight-mixin(@background-color-success); }

.highlight-mixin(@color) {
  padding: 1px 4px;
  color: @text-color-highlight;
  border-radius: @component-border-radius;
  background-color: @color;
}


// Background Message ---------------
// Shown when no tabs are open.

.background-message {
  font-weight: bold;
  color: @text-color-subtle;
}


.input-text,
.input-search,
.input-textarea,
.input-number {
	padding: 0 0.6ex;
	line-height: 1.7;
    font-size: 13px;
	border-radius: 0;
    border: 1px solid @button-background-color;
    background-color: @text-editor-background-color;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    letter-spacing: 0.04em;
}

.platform-darwin .input-number,
.input-number {
	padding: 0 0.6ex;
	margin-right: 20px !important;
}

.input-search {
	border-radius: @component-border-radius;
	text-align: center;
	transition: 0.4s text-align;

	&:focus {
		text-align: left;
	}
}

.input-toggle {
    width: 26px;

	&:before {
		width: 12px;
		height: 12px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	    border: none;
	    transform: translate3d(2px, 2px, 0);
	}

	&:active {

		&:before {
			opacity: 1;
		}
	}

	&:checked {

		&:before {
		    transform: translate3d(100%, 2px, 0);
		}
	}
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: default;
}

select.form-control {

	&, .settings-view & {
		width: auto;
	    -webkit-appearance: none;
		background-color: @field-background-color;
		background-image: url('data:image/svg+xml; utf8, <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="60px" viewBox="0 0 40 60" enable-background="new 0 0 40 60" xml:space="preserve"><rect fill="rgba(255,255,255,0.3)" width="40" height="60"/><g><polyline fill="none" stroke="rgba(0,0,0,0.8)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="13,35.5 20,42.5 27,35.5"/><polyline fill="none" stroke="rgba(0,0,0,0.8)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="13,25.5 20,18.5 27,25.5"/></g></svg>');
		background-position: right;
		background-repeat: no-repeat;
		background-size: 17px;
	    height: 24px;
	    font-size: 12px;
	    line-height: 23px;
	    padding: 0 34px 0 10px;

		&:hover, &:active, &:focus {
			background-color: lighten(@base-background-color, 10%);
		}

		&:active, &:focus {
			background-image: url('data:image/svg+xml; utf8, <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="60px" viewBox="0 0 40 60" enable-background="new 0 0 40 60" xml:space="preserve"><rect fill="rgba(255,255,255,0.4)" width="40" height="60"/><g><polyline fill="none" stroke="rgba(0,0,0,0.8)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="13,35.5 20,42.5 27,35.5"/><polyline fill="none" stroke="rgba(0,0,0,0.8)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="13,25.5 20,18.5 27,25.5"/></g></svg>');
		}

		&[disabled], &[disabled]:hover, &[disabled]:focus {
			background-color: lighten(@base-background-color, 5%);
			background-image: url('data:image/svg+xml; utf8, <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="60px" viewBox="0 0 40 60" enable-background="new 0 0 40 60" xml:space="preserve"><g><polyline fill="none" stroke="rgba(255,255,255,0.3)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="13,35.5 20,42.5 27,35.5"/><polyline fill="none" stroke="rgba(255,255,255,0.3)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="13,25.5 20,18.5 27,25.5"/></g></svg>');
		}
	}
}

.input-checkbox {
	background: transparent;
	border: 1px solid @button-background-color;

	&:before, &:after {
		top: 12px;
		left: 5px;
	}

	&:checked {
		border-color: @background-color-focus;
	}
}

.input-radio {
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
    background: transparent;

	&:checked {
		box-shadow: none;
	}
}



atom-text-editor[mini] {
	background-color: @text-editor-background-color;
	border: 1px solid @button-background-color;
	border-radius: 2px;
	color: @text-editor-color;
	padding: 0 0.8em;
	// max-height: @ui-element-height;
	line-height: @ui-element-height;

	&.is-focused {
		background-color: @text-editor-background-color;
	}

	.overlay &,
	atom-panel.modal & {
		margin-bottom: @ui-spacing;
	}
}
