
// Tooltips
// -------------------

// Overrides: Bootstrap's `.tooltip`.

.tooltip {

	&.top .tooltip-arrow {
		border-top-color: @tooltip-background-color;
	}

	&.right .tooltip-arrow {
		border-right-color: @tooltip-background-color;
	}

	&.bottom .tooltip-arrow {
		border-bottom-color: @tooltip-background-color;
	}

	&.left .tooltip-arrow {
		border-left-color: @tooltip-background-color;
	}

	.tooltip-inner {
		line-height: 1;
		padding: .75em;
		white-space: nowrap;
		max-width: none;
		letter-spacing: 0.05em;
		background-color: @tooltip-background-color;
		color: @tooltip-text-color;
	}

	.keystroke {
		padding: .15em .4em;
		margin: 0 -.3em 0 .25em;
		border-radius: max(2px, @component-border-radius / 2);
		background: @background-color-info;
		color: fade(@text-color-bright, 98%);
	}

	// mac os tooltip style

	& {
		box-shadow: 0 0.4em 1.4em rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.4);

		&.in {
			opacity: 1;
		}

		&, &.top, &.right, &.bottom, &.left {
			padding: 0;
		}

		.tooltip-arrow {
			display: none;
		}

		.tooltip-inner {
			border-radius: 1px;
			padding: 4px 7px;
			background: linear-gradient(to bottom, fade(lighten(@tooltip-background-color, 5%), 90%), fade(@tooltip-background-color, 90%));
			backdrop-filter: blur(10px);
		}

		.keystroke {
			padding: 2px 5px 3px;
			margin: 0 -6px 0 2px;
		    border-radius: 2px;
		}
	}
}
