
// UI Variables
// -------------------

// These are the official UI variables that every UI theme should define.
// It allows other packages to match your theme.

// Overrides: atom/static/variables/ui-variables.less

// Try to edit some of the values below to see your theme change.
// A good start is to change the color of the `@base-background-color` variable.


// Text Colors
@text-color: lighten(@base-background-color, 66%);
@text-color-subtle: darken(@text-color, 10%);
@text-color-highlight: lighten(@text-color, 5%);
@text-color-selected: lighten(@text-color, 13%);
@text-color-bright: white;

@text-color-info: lighten(@background-color-primary, 25%);
@text-color-success: lighten(@background-color-success, 26%);
@text-color-warning: lighten(@background-color-warning, 17%);
@text-color-error: lighten(@background-color-error, 5%);

// Background colors
@background-color-atom-top: #b3e299;
@background-color-atom-bottom: #01a070;
@background-color-atom: mix(@background-color-atom-top, @background-color-atom-bottom, 50%);
@background-color-focus: @background-color-atom;

@background-color-primary: #3569a0;
@background-color-info: mix(@background-color-atom-top, @background-color-atom-bottom, 25%);
@background-color-success: #30c246;
@background-color-warning: #f0ae13;
@background-color-error: #ff3d33;

@background-color-highlight: lighten(@base-background-color, 5%);
@background-color-selected: lighten(@base-background-color, 10%);
@app-background-color: darken(@base-background-color, 5%);

// Base colors
@base-background-color: hsl(0, 0%, 10%);
@base-border-color: darken(@base-background-color, 5%);

// Component colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@input-background-color: @app-background-color;
@input-border-color: @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color: @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color: @base-border-color;

@button-background-color: lighten(@base-background-color, 25%);
@button-background-color-active: lighten(@base-background-color, 70%);
@button-color-active: darken(@base-background-color, 10%);
@button-background-color-hover: lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color: @base-border-color;

@field-background-color: lighten(@base-background-color, 6%);
@text-editor-background-color: @field-background-color;
@text-editor-color: lighten(@text-color, 14%);

@tab-bar-background-color: lighten(@base-background-color, 5%);
@tab-bar-border-color: darken(@tab-bar-background-color, 2%);
@tab-background-color: lighten(@tab-bar-background-color, 5%);
@tab-background-color-active: lighten(@tab-bar-background-color, 12%);
@tab-border-color: darken(@tab-background-color, 9%);
@tab-background-color-down: @tab-bar-background-color;

@table-border-color: lighten(@base-background-color, 11%);

@tree-view-background-color: @base-background-color;
@tree-view-border-color: @base-border-color;
@tree-view-color: darken(@text-color, 20%);

@title-bar-background-color: darken(@base-background-color, 3%);
@status-bar-background-color: darken(@base-background-color, 5%);

@tooltip-background-color: lighten(@base-background-color, 80%);
@tooltip-text-color: @base-background-color;

// Site colors
@ui-site-color-1: #79b4eb; // blue
@ui-site-color-2: #62c28f; // green
@ui-site-color-3: #f58d34; // orange
@ui-site-color-4: #ff78e8; // pink
@ui-site-color-5: #ffd454; // yellow

// Sizes
@font-size: 11px;
@input-font-size: 11px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;

@tab-height: 24px;
@tab-max-width: 5000px;
@tab-min-width: 120px;

// Fields
@ui-spacing: 6px;

// Misc
@component-border-radius: 4px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
